.formulario{
    position: fixed;
    top: 10%;
    left: 10%;
    width: calc(100% - 15% - 40px);
    height: calc(100% - 20% - 40px);
    z-index: 9;
    overflow: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px #CCC;
}