<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="formulariologin">
      <ion-toolbar>
        <ion-title size="Small">Bienvenido</ion-title>
      </ion-toolbar>
      <br>
      <br>
      <div align="center"><h2>Mi estacionamiento</h2></div>
      <br>
      <div align="center"><H5><b>Iniciar Sesión</b></H5></div>
      <br>
      <ion-card>
        
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        </ion-card>
        <br>
        <br>
        <ion-button expand="block" (click)="ingresar()">Ingresar</ion-button>
        <ion-item>
          <h6>¿Primera vez?</h6> <ion-button [routerLink]="['/registro']" size="small">Registrarse</ion-button>
        </ion-item>
        <ion-item>
          <h6>Olvide mi contraseña..</h6><a href="">Pulse aqui</a>
        </ion-item>
    </form>
  </div>
</ion-content>